{{ 'right-image-description.css' | asset_url | stylesheet_tag }}
<body>

  <div class="container">
   <img src="{{ section.settings.image | image_url: 'medium' }}"width="auto" height="auto">
    <div class="text-container"  style="text-align: {{ section.settings.text-position }};">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.description}}</p>
    </div>
  </div>

</body>


{% schema %}
  {
    "name": "image on right and text",
    "settings": [
     
      {
        "type":"image_picker",
        "label":"select image",
        "id":"image"
      },
      {
        "type":"text",
        "label":"Heading",
        "id":"heading"
      },
      {
        "type":"text",
        "label":"Add description",
        "id":"description"
      }
    ],
    "presets" : [{
      "name": "image on right and text"
    }
  ]
  }
{% endschema %}